.popup__container-input-subtitle {
    display: block;
    width: 358px;
    height: 27px;
    margin: 0 auto;
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.87rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    .popup__container-input-subtitle {
        margin-top: 43px;
        width: 238px;
        height: 14px;
    }
}
